<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link href="/QR_pay/resources/css/shop.css" type="text/css" rel="stylesheet" />
		<link href="/QR_pay/resources/css/Sellerber.css" type="text/css" rel="stylesheet" />
		<link href="/QR_pay/resources/css/bkg_ui.css" type="text/css" rel="stylesheet" />
		<link href="/QR_pay/resources/font/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		<link href="/QR_pay/resources/elementui/index.css" rel="stylesheet">
		<script src="/QR_pay/resources/js/jquery-1.9.1.min.js" type="text/javascript"></script>
		<script src="/QR_pay/resources/js/Sellerber.js" type="text/javascript"></script>
		<script src="/QR_pay/resources/js/jquery.dataTables.min.js"></script>
		<script src="/QR_pay/resources/js/jquery.dataTables.bootstrap.js"></script>
		<script src="/QR_pay/resources/js/layer/layer.js" type="text/javascript"></script>
		<script src="/QR_pay/resources/js/laydate/laydate.js" type="text/javascript"></script>
		<script src="/QR_pay/resources/js/hsCheckData.js" type="text/javascript"></script>
		<script src="/QR_pay/resources/js/vue.js" type="text/javascript"></script>
		<script src="/QR_pay/resources/js/axios-0.18.0.js" type="text/javascript"></script>
		<script src="/QR_pay/resources/elementui/index.js" type="text/javascript"></script>
		<title>添加商品</title>
	</head>

	<body>
		<div class="margin inside_pages clearfix">
			<div class="add_style clearfix relative">
				<div id="app">
					<ul>
						<li class="clearfix"><label class="label_name col-xs-1"><i>*</i>商家ID：&nbsp;&nbsp;</label>
							<div class="Add_content col-xs-11"><input name="shopId" :value="shop.id" type="text" class="col-xs-6" readonly="readonly " /></div>
						</li>
						<li class="clearfix"><label class="label_name col-xs-1"><i>*</i>商品名称：&nbsp;&nbsp;</label>
							<div class="Add_content col-xs-11"><input name="pname" v-model="product.pname" type="text" class="col-xs-6" /></div>
						</li>
						<li class="clearfix"><label class="label_name col-xs-1"><i>*</i>简单描述：&nbsp;&nbsp;</label>
							<div class="Add_content col-xs-11"><input name="pdesc" v-model="product.pdecs" type="text" class="col-xs-6" /></div>
						</li>
						<li class="clearfix">
							<div class="col-xs-4">
								<label class="label_name col-xs-3"><i>*</i>商品原价：&nbsp;&nbsp;</label>
								<div class="Add_content col-xs-9">
									<input name="marketPice" v-model="product.marketPrice" type="text" class="col-xs-7" /><em class="Prompt">元</em>
								</div>
							</div>
							<div class="col-xs-4">
								<label class="label_name col-xs-3"><i>*</i>商品现价：&nbsp;&nbsp;</label>
								<div class="Add_content col-xs-9">
									<input name="shopPrice" v-model="product.shopPrice" type="text" class="col-xs-7" /><em class="Prompt">元</em>
								</div>
							</div>
							<div class="col-xs-4">
								<label class="label_name col-xs-3"><i>*</i>商品数量：&nbsp;&nbsp;</label>
								<div class="Add_content col-xs-9">
									<input name="pnum" v-model="product.pnum" type="text" class="col-xs-7" /><em class="Prompt">件</em>
								</div>
							</div>
						</li>
						<li class="clearfix">
							<label class="label_name col-xs-1"><i>*</i>商品图片：&nbsp;&nbsp;</label>
							<div class="Add_content col-xs-2" id="Upload">
								<input type="file" id="saveImage" name="myphoto" accept="image/png,image/gif,image/jpeg" ref="new_image">
							</div>
							<div class="Add_content col-xs-6">
								<input type="button" @click="addImage" value="上传图片"/>
							</div>
						</li>
					</ul>
					<br />
					<div class="Button_operation btn_width">
						<button class="btn button_btn bg-deep-blue" type="button" @click="add()">确认添加</button>
						<button class="btn button_btn bg-gray" type="button" @click="reset()">重置</button>
					</div>
				</div>
			</div>
		</div>
		</div>
	</body>

</html>
<script>
	new Vue({
		el: '#app',
		data: {
			shop: {
				id: "",
				shopName: "",
				phone: "",
				balance: ""
			},
			product: {
				pname: "",
				pdecs: "",
				marketPrice: "",
				shopPrice: "",
				pnum: "",
				pimage: ""
			},
			backendUrl: "http://www.qrpaylzs.store:6002",
			webUrl: "http://www.qrpaylzs.store:8020/QR_pay"
		},
		beforeMount: function() {
			axios.defaults.withCredentials = true;
			axios.get(this.backendUrl + "/shop/getName").then((res) => {
				if(res.data.flag) {
					this.shop = res.data.data;
				} else {
					alert(res.data.message);
					location.href = this.webUrl + "/shop/login.html";
				}
			})
		},
		methods: {
			// 重置
			reset() {
				this.product = {};
			},
			//添加商品
			add() {
				var param = {
					sid: this.shop.id,
					pname: this.product.pname,
					pdesc: this.product.pdecs,
					marketPrice: this.product.marketPrice,
					shopPrice: this.product.shopPrice,
					pnum: this.product.pnum,
					pimage: this.product.pimage
				}
				axios.defaults.withCredentials = true;
				axios.post(this.backendUrl + "/product/add", param).then((res) => {
					alert(res.data.message);
					location.href = this.webUrl + "/shop/add_product.html";
				})
			},
			//上传图片
			addImage: function() {
				let self = this;
				if(self.$refs.new_image.files.length !== 0) {
					var formData = new FormData()
					formData.append('image_data', self.$refs.new_image.files[0]);
					//单个文件进行上传
					axios.post(this.backendUrl + "/product/addImage", formData, {
						headers: {
							"Content-Type": "multipart/form-data"
						}
					}).then(res => {
						alert(res.data.message);
						if(res.data.flag) {
							this.product.pimage = res.data.data;
						}
					})
				}
			}
		}
	})
</script>